<section class="contact" id="contact">
  <div class="container">
      <div class="heading text-center">
          <h2>Contact
              <span> Us </span></h2>
          <p>You're most welcome, it's my pleasure to assist. Should you require further information or support.
              <br> please don't hesitate to contact-us.</p>
      </div>
      <div class="row">
          <div class="col-md-5">
              <div class="title">
                  <h3>Contact Details</h3>
                  <p></p>
              </div>
              <div class="content">
                  <!-- Info-1 -->
                  <div class="info">
                      <i class="fas fa-mobile-alt"></i>
                      <h4 class="d-inline-block">PHONE :
                          <br><br>
                          <span>+917708522584 , +918825686053</span></h4>
                  </div>
                  <!-- Info-2 -->
                  <div class="info">
                      <i class="far fa-envelope"></i>
                      <h4 class="d-inline-block">GMAIL :
                          <br><br>
                          <span>tourism@info.com</span></h4>
                  </div>
                  <!-- Info-3 -->
                  <div class="info">
                      <i class="fas fa-map-marker-alt"></i>
                      <h4 class="d-inline-block">ADDRESS :
                        <br><br>
                        <span>Head Office,Tamilnadu Tourism,Trichy</span></h4>
                  </div>
              </div>
          </div>

          <div class="col-md-7">

              <form>
                  <div class="row">
                      <div class="col-sm-6">
                          <input type="text" class="form-control" placeholder="Name">
                      </div>
                      <div class="col-sm-6">
                          <input type="email" class="form-control" placeholder="Email">
                      </div>
                      <div class="col-sm-12">
                          <input type="text" class="form-control" placeholder="Subject">
                      </div>
                  </div>
                  <div class="form-group">
                      <textarea class="form-control" rows="5" id="comment" placeholder="Message"></textarea>
                  </div>
                  <button class="btn btn-block" type="submit">Send Now!</button>
              </form>
          </div>
      </div>
  </div>
</section>