<div class="responsive-container-block bigContainer">
  <p class="text-blk headingText mt-5" style="font-size: xx-large;">
    About Us
  </p>
  <div class="responsive-container-block Container bottomContainer">
    <div class="ultimateImg">
      <!-- <img class="mainImg" src="./assets/about-us.png" style="height: 800px;width: 700px"> -->
      <img *ngIf="aboutUsImage" [src]="aboutUsImage" class="mainImg" style="height: 800px; width: 700px;" alt="About Us Image">
      <div class="purpleBox">
        <p class="purpleText"></p>
        <img class="stars" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/mp5.svg">
      </div>
    </div>
    <div class="allText bottomText">
      <p class="text-blk subHeadingText" style="color: crimson;">
        Tamilnadu Tourism
      </p>
      <p class="text-blk description" style="text-indent: 2cm; top:1cm;">
        We are providing tourism services on all over tamilnadu for last 20 years.</p>
        <p class="text-blk description" style="text-indent: 2cm;">
        Tamil Nadu is a preferred travel destination for many due its Beach, Relaxation, Pilgrimage, Hills & Mountains, Adventure, Wildlife, Trek, Food and Heritage.       
      </p>
      <p class="text-blk description" style="text-indent: 2cm;">
      A Kaleidoscope of traditions, culture, and vibrant geographies, Tamilnadu speaks
      for itself as a soul-stirring journey. Snow-covered peaks of the Himalayas
      stretch of coastline, natural greenery to depths of spirituality, and
      clusters of cultural shades. All of these aspects join together to define
      the raw beauty through which Tamilnadu captures the heart of every tourist.</p>
      <p class="text-blk description" style="text-indent: 2cm;">
      Discover the different facets of this multicolored country as it shapes your
      vision at every fold. With the country's tourism branched into several
      forms, Tamilnadu has a chunk for every kind of traveler. To get things going,
      here is an Tamilnadu travel planner which incorporates must-visit tourist
      attractions, places to visit in Tamilnadu, how to reach, and the best time to
      visit.
    </p>
    </div>
  </div>
</div>