.bold-tags {
    float: left;
    margin-right: 10px;
}

.booking-box {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.booking-content {
    padding: 10px;
}

.booking-content .card-title {
    color: #007bff; /* Change to your desired color */
}
