<nav class="navbar navbar-expand-lg sticky-top">
    <div class="container">
        <a class="navbar-brand" routerLink="/home">
            <span style="color: #667eea;">TN</span> Tourism
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                <!-- HOME -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">HOME</a>
                </li>

                <!-- COMPANY -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        COMPANY
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" routerLink="/about-us">About Us</a></li>
                    </ul>
                </li>

                <!-- TOURISM PLACES (Mega Dropdown) -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="districtsDropdown" role="button" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        TOURISM PLACES
                    </a>
                    <div class="dropdown-menu districts-dropdown" aria-labelledby="districtsDropdown">
                        <div class="row">
                            <!-- Column 1 -->
                            <div class="col-md-4">
                                <a class="dropdown-item" href="/district/?location=ariyalur">Ariyalur</a>
                                <a class="dropdown-item" href="/district/?location=chennai">Chennai</a>
                                <a class="dropdown-item" href="/district/?location=coimbatore">Coimbatore</a>
                                <a class="dropdown-item" href="/district/?location=cuddalore">Cuddalore</a>
                                <a class="dropdown-item" href="/district/?location=dharmapuri">Dharmapuri</a>
                                <a class="dropdown-item" href="/district/?location=dindigul">Dindigul</a>
                                <a class="dropdown-item" href="/district/?location=erode">Erode</a>
                                <a class="dropdown-item" href="/district/?location=kallakurichi">Kallakurichi</a>
                                <a class="dropdown-item" href="/district/?location=kanchipuram">Kanchipuram</a>
                                <a class="dropdown-item" href="/district/?location=kanyakumari">Kanyakumari</a>
                                <a class="dropdown-item" href="/district/?location=karur">Karur</a>
                                <a class="dropdown-item" href="/district/?location=krishnagiri">Krishnagiri</a>
                            </div>
                            <!-- Column 2 -->
                            <div class="col-md-4">
                                <a class="dropdown-item" href="/district/?location=madurai">Madurai</a>
                                <a class="dropdown-item" href="/district/?location=nagapattinam">Nagapattinam</a>
                                <a class="dropdown-item" href="/district/?location=namakkal">Namakkal</a>
                                <a class="dropdown-item" href="/district/?location=perambalur">Perambalur</a>
                                <a class="dropdown-item" href="/district/?location=pudukkottai">Pudukkottai</a>
                                <a class="dropdown-item" href="/district/?location=ramanathapuram">Ramanathapuram</a>
                                <a class="dropdown-item" href="/district/?location=ranipet">Ranipet</a>
                                <a class="dropdown-item" href="/district/?location=salem">Salem</a>
                                <a class="dropdown-item" href="/district/?location=sivagangai">Sivagangai</a>
                                <a class="dropdown-item" href="/district/?location=tenkasi">Tenkasi</a>
                                <a class="dropdown-item" href="/district/?location=thanjavur">Thanjavur</a>
                                <a class="dropdown-item" href="/district/?location=theni">Theni</a>
                            </div>
                            <!-- Column 3 -->
                            <div class="col-md-4">
                                <a class="dropdown-item" href="/district/?location=thoothukudi">Thoothukudi</a>
                                <a class="dropdown-item" href="/district/?location=tiruchirappalli">Tiruchirappalli</a>
                                <a class="dropdown-item" href="/district/?location=tirunelveli">Tirunelveli</a>
                                <a class="dropdown-item" href="/district/?location=tirupathur">Tirupathur</a>
                                <a class="dropdown-item" href="/district/?location=tiruppur">Tiruppur</a>
                                <a class="dropdown-item" href="/district/?location=tiruvallur">Tiruvallur</a>
                                <a class="dropdown-item" href="/district/?location=tiruvannamalai">Tiruvannamalai</a>
                                <a class="dropdown-item" href="/district/?location=tiruvarur">Tiruvarur</a>
                                <a class="dropdown-item" href="/district/?location=vellore">Vellore</a>
                                <a class="dropdown-item" href="/district/?location=viluppuram">Viluppuram</a>
                                <a class="dropdown-item" href="/district/?location=virudhunagar">Virudhunagar</a>
                            </div>
                        </div>
                    </div>
                </li>

                <!-- BOOK NOW -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="/booking-view" routerLinkActive="active">
                        BOOK NOW
                        <span class="badge-count" *ngIf="selectedPlaceCount > 0">{{selectedPlaceCount}}</span>
                    </a>
                </li>

                <!-- CONTACT -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact-us" routerLinkActive="active">CONTACT</a>
                </li>

                <!-- PROFILE / SIGN IN -->
                <li class="nav-item dropdown ms-lg-4" *ngIf="user">
                    <a class="nav-link profile-link dropdown-toggle" id="userProfileDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="avatar-circle">
                            {{ user.username.charAt(0).toUpperCase() }}
                        </div>
                        <span>{{ user.username }}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userProfileDropdown">
                        <div class="profile-dropdown-header">
                            <span class="user-name">{{ user.username }}</span>
                            <!-- You might display email here if available in user object -->
                        </div>
                        <li><a class="dropdown-item" routerLink="/getall"><i class="bi bi-calendar-check me-2"></i> My
                                Bookings</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item text-danger" (click)="userSignOut()"><i
                                    class="bi bi-box-arrow-right me-2"></i> Sign Out</a></li>
                    </ul>
                </li>

                <li class="nav-item ms-lg-4" *ngIf="!user">
                    <a class="btn btn-primary px-4" routerLink="/signin">Sign In</a>
                </li>

            </ul>
        </div>
    </div>
</nav>