<nav class="navbar navbar-expand-lg navbar-light bg-light mt-2 sticky-top">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item ms-5 me-4">
            <a class="nav-link" routerLink="/home">HOME</a>
          </li>

          <li class="nav-item ms-5 me-4 dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              COMPANY
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="/about-us">About Us</a></li>
            </ul>
          </li>
          
          <li class="nav-item ms-5 me-4 dropdown" >
            
            <a class="nav-link" id="districtsDropdown" role="button" data-bs-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              TOURISM PLACES
            </a>
            <div class=" dropdown-menu districts-dropdown  w-500px dropdowns" style="background-color: rgb(245, 245, 245);" aria-labelledby="districtsDropdown">
                <div class="row" >
                    <div class="col-md-4">
                        <a class="dropdown-item" href="/district/?location=ariyalur">Ariyalur</a>
                    </div>
                    <div class="col-md-4">
                        <a class="dropdown-item" href="/district/?location=chennai">Chennai</a>
                    </div>
                    <div class="col-md-4">
                        <a class="dropdown-item" href="/district/?location=coimbatore">Coimbatore</a>
                    </div>
                    <div class="col-md-4">
                        <a class="dropdown-item" href="/district/?location=cuddalore">Cuddalore</a>
                    </div>
    
                    <div class="col-md-4">
                        <a class="dropdown-item" href="/district/?location=dharmapuri">Dharmapuri</a>
                    </div>
                    <div class="col-md-4">
                        <a class="dropdown-item" href="/district/?location=dindigul">Dindigul</a>
                    </div>
                    <div class="col-md-4">
                        <a class="dropdown-item" href="/district/?location=erode">Erode</a>
                    </div>
                    <div class="col-md-4">
                        <a class="dropdown-item" href="/district/?location=kallakurichi">Kallakurichi</a>
                    </div>
                    <div class="col-md-4">
                        <a class="dropdown-item" href="/district/?location=kanchipuram">Kanchipuram</a>
                    </div>
                    <div class="col-md-4">
                        <a class="dropdown-item" href="/district/?location=kanyakumari">Kanyakumari</a>
                    </div>
                    <div class="col-md-4">
                        <a class="dropdown-item" href="/district/?location=karur">Karur</a>
                    </div>
                    <div class="col-md-4">
                        <a class="dropdown-item" href="/district/?location=krishnagiri">Krishnagiri</a>
                    </div>
                    <div class="col-md-4">
                      <a class="dropdown-item" href="/district/?location=madurai">Madurai</a>
                    </div>
                    <div class="col-md-4">
                        <a class="dropdown-item" href="/district/?location=nagapattinam">Nagapattinam</a>
                    </div>
                    <div class="col-md-4">
                        <a class="dropdown-item" href="/district/?location=namakkal">Namakkal</a>
                    </div>
                    <div class="col-md-4">
                        <a class="dropdown-item" href="/district/?location=perambalur">Perambalur</a>
                    </div>
                    <div class="col-md-4">
                        <a class="dropdown-item" href="/district/?location=pudukkottai">Pudukkottai</a>
                    </div>
                    <div class="col-md-4">
                        <a class="dropdown-item" href="/district/?location=ramanathapuram">Ramanathapuram</a>
                    </div>
                    <div class="col-md-4">
                        <a class="dropdown-item" href="/district/?location=ranipet">Ranipet</a>
                    </div>
                    <div class="col-md-4">
                        <a class="dropdown-item" href="/district/?location=salem">Salem</a>
                    </div>
                    <div class="col-md-4">
                        <a class="dropdown-item" href="/district/?location=sivagangai">Sivagangai</a>
                    </div>
                    <div class="col-md-4">
                        <a class="dropdown-item" href="/district/?location=tenkasi">Tenkasi</a>
                    </div>
                    <div class="col-md-4">
                        <a class="dropdown-item" href="/district/?location=thanjavur">Thanjavur</a>
                    </div>
                    <div class="col-md-4">
                        <a class="dropdown-item" href="/district/?location=theni">Theni</a>
                    </div>
                    <div class="col-md-4">
                        <a class="dropdown-item" href="/district/?location=thoothukudi">Thoothukudi</a>
                    </div>
                    <div class="col-md-4">
                        <a class="dropdown-item" href="/district/?location=tiruchirappalli">Tiruchirappalli</a>
                    </div>
                    <div class="col-md-4">
                        <a class="dropdown-item" href="/district/?location=tirunelveli">Tirunelveli</a>
                    </div>
                    <div class="col-md-4">
                        <a class="dropdown-item" href="/district/?location=tirupathur">Tirupathur</a>
                    </div>
                    <div class="col-md-4">
                        <a class="dropdown-item" href="/district/?location=tiruppur">Tiruppur</a>
                    </div>
                    <div class="col-md-4">
                        <a class="dropdown-item" href="/district/?location=tiruvallur">Tiruvallur</a>
                    </div>
                    <div class="col-md-4">
                        <a class="dropdown-item" href="/district/?location=tiruvannamalai">Tiruvannamalai</a>
                    </div>
                    <div class="col-md-4">
                        <a class="dropdown-item" href="/district/?location=tiruvarur">Tiruvarur</a>
                    </div>
                    <div class="col-md-4">
                        <a class="dropdown-item" href="/district/?location=vellore">Vellore</a>
                    </div>
                    <div class="col-md-4">
                        <a class="dropdown-item" href="/district/?location=viluppuram">Viluppuram</a>
                    </div>
                    <div class="col-md-4">
                        <a class="dropdown-item" href="/district/?location=virudhunagar">Virudhunagar</a>
                    </div>    
                  </div>
                </div>
            </li>

          <li class="nav-item ms-5 me-4" >
            <a class="nav-link" routerLink="/booking-view">BOOK NOW <i class="bi bi-bus-front-fill"></i> {{selectedPlaceCount}}</a>
          </li>

           <!-- Car Rental Link -->
         <!-- <li class="nav-item ms-5 me-4">
            <a class="nav-link" routerLink="">Car Rental</a>
         </li> -->
          
          <li class="nav-item ms-5 me-4 dropdown" *ngIf="!user">
            <a class="nav-link" id="profileDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false" routerLink="/signin">
                SIGNIN
            </a>
            <!-- Your signin form can go here -->
        </li>
        
        <li class="nav-item ms-5 me-4 dropdown" *ngIf="user">
            <a class="nav-link" id="userProfileDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">PROFILE

                
            </a>
            <ul class="dropdown-menu" aria-labelledby="userProfileDropdown">
                <li><a class="dropdown-item">{{ user.username }}</a></li>
                <li><a class="dropdown-item" routerLink="/getall">Bookings</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" (click)="userSignOut()">Sign-out</a></li>
            </ul>
        </li>

        <li class="nav-item ms-5 me-4 dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              CONTACT
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="/contact-us">Contact Us</a></li>
            </ul>
          </li>


      </ul>
    </div>
  </div>
</nav>
